body{
  background-color: #2D87DB;
  margin: none;
  space-after: 10px;
}

@media (min-width: 1560px) {
	#rectangle { 
		max-width: 40%;
	}
  body{
    background-color: #BB6BD9;
  }
  
}

.container{
  display: flex;
}

#rectangle{
  background: #2D87DB;
  width: 100,000px;
  height: 200px;
  top: -380px;
  z-index: -1;
  content-align: center;
}

h1 {
  color: rgba(255,255,255, 0.8);
  text-align: left;
  font-family: Vidaloka;
  font-size: 4em;
  margin: 5%;
  z-index: 0;
}

.me{ 
  border-radius: 50%;
  max-width: 25%;
  left: 0;
  top: 300px;
  position: absolute;
  content-align: left;
}

.The_Goddess_Test{
  height: 500px;
  margin: 5%;
}

h3, p, li {
  font-family: Amiri;
  text-align: justify;
  color: white;
  display: flex;
  width: 400px;
  
}

.blue-textbox{
  display: flex;
  width: 500px;
  height: 100px;
  background: #2D87DB;
}

.white-textbox{
  
}

p{
  color: white;
}

.button{
  background-color: black; /* black */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5%;
    float: right;
    right: 200px;
}

.white-chicks{
  max-height: 200px;
}

.hidden-figures{
  max-height: 500px;
}

.ghost-busters{
  max-height: 500px;
}